body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  background-color: darkgray;
  border: 1px solid darkgray;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cell {
  background-color: white;
  width: 6rem;
  height: 6rem;
}
.cell:hover {
  background-color: lightgray;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
